%td= object.id
%td= player_image object, "height_22"
%td= object.number
%td= link_to object.name, admin_player_path(object)
%td= link_to object.team.name, admin_team_path(object.team) if object.team
%td= player_price object.price[CURRENT_ROUND]
%td= object.position.try(:text) if object.position
%td
  - if object.active
    %i.glyphicon.glyphicon-ok
  - else
    %i.glyphicon.glyphicon-remove
%td.actions= smart_listing_item_actions [{name: :custom, url: admin_player_path(object), icon: "glyphicon glyphicon-active", remote: true, if: !object.active?, title:  "Activate player"}, {name: :edit, url: edit_admin_player_path(object)}, {name: :destroy, url: admin_player_path(object), confirmation: "Are you sure you want to delete this?"}]