= smart_listing_controls_for(:contents, {class: "form-inline text-right"}) do
  -# Add search box to form - it submits the form automatically on text change
  .form-group.filter.input-append
    = text_field_tag :title, params["title"], class: "search form-control", placeholder: "Search by title...", autocomplete: :off
    = text_field_tag :body, params["body"], class: "search form-control", placeholder: "Search by body...", autocomplete: :off

  %button.btn.btn-primary.disabled{type: :submit}
    %span.glyphicon.glyphicon-search

- unless smart_listing.empty?
  %table.table.table-striped
    %thead
      %th.col-md-1= smart_listing.sortable "ID", "id"
      %th.col-md-4= smart_listing.sortable "Image", "image_thumb_url"
      %th.col-md-4= smart_listing.sortable "Title", "title"
      %th.col-md-4= smart_listing.sortable "Sumary", "sumary"
      %th.col-md-4= smart_listing.sortable "Keywords", "keywords"
      %th.col-md-1= smart_listing.sortable "Published", "published"
      %th.col-md-2= "Options"
    %tbody
    - smart_listing.collection.each do |o|
      %tr.editable{data: {id: o.id}}
        = smart_listing.render object: o, partial: "admin/contents/content", locals: {object: o}
        
    = smart_listing.item_new colspan: 7, link: new_admin_content_path

  -# Render nice pagination links fitted for Bootstrap 3 by default
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %p.warning No records!