%h3= t('jornada_acb', round: CURRENT_ROUND)
- @games.each do |game|
  .games.col-xs-6.col-sm-3.col-md-3
    %a{:href => game_path(game)}
      %div.col-xs-6.box.white
        = team_image game.local_team
        </br>
        = game.local_team.short_code
      %div.col-xs-6.box.white
        = team_image game.away_team
        </br>
        = game.away_team.short_code
      - if game.local_score.blank? and game.away_score.blank?
        .col-xs-12.box.white
          = short_date game.game_date
      - else
        .col-xs-6.box.yellow
          =link_to game.local_score, game, :"title" => "#{t('estadisticas')} #{game.local_team.name} - #{game.away_team.name}"
        .col-xs-6.box.yellow
          =link_to game.away_score, game, :"title" => "#{t('estadisticas')} #{game.local_team.name} - #{game.away_team.name}"