- team.players.order_by_position.each do |player|
  - statistic = player.statistics.by_season(game.season).send("week_#{game.round}")
  - if statistic["game"]
    %tr{:class => player.position}
      %td.image= player_image player
      %td.number= player.number
      %td.player= link_to player.name, player
      - Statistic.fields.each do |field|
        - unless field == 'game'
          %td{class: field}= statistic[field]
