= smart_listing_controls_for(:games, {class: "form-inline text-right"}) do
  -# Add search box to form - it submits the form automatically on text change
  .form-group.filter.input-append
    = select_tag :local_team_id, options_from_collection_for_select(Team.active, 'id', 'name', params["local_team_id"]), class: "search form-control", :prompt => "Search by Local Team"
    = select_tag :away_team_id, options_from_collection_for_select(Team.active, 'id', 'name', params["away_team_id"]), class: "search form-control", :prompt => "Search by Away Team"


  %button.btn.btn-primary.disabled{type: :submit}
    %span.glyphicon.glyphicon-search

- unless smart_listing.empty?
  %table.table.table-striped
    %thead
      %th.col-md-1= smart_listing.sortable "Round", "round"
      %th.col-md-3= smart_listing.sortable "Local", "local_team_id"
      %th.col-md-3= smart_listing.sortable "Visitant", "away_team_id"
      %th.col-md-2= smart_listing.sortable "Data", "game_date"

    %tbody
      - smart_listing.collection.each do |o|
        %tr.editable{data: {id: o.id}}
          = smart_listing.render object: o, partial: "games/game", locals: {object: o}

  -# Render nice pagination links fitted for Bootstrap 3 by default
  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %p.warning No records!