%h2="Estadísticas del #{@game.local_team} - #{@game.away_team}"
%game
  .table-responsive.white
    %table.table.statistic
      %thead
        %tr
          %td{colspan: 19}
            =team_image @game.local_team
            =@game.local_team.name
        %tr
          %th
          %th="Jugador"
          - Statistic.fields.each do |field|
            - unless field == 'game'
              %th= t("#{field}")
      %tbody
        = render partial: "game_statistic", locals: {team: @game.local_team, game: @game}
        
      %thead
        %tr
          %td{colspan: 19}
            =team_image @game.away_team
            =@game.away_team.name
        %tr
          %th
          %th="Jugador"
          - Statistic.fields.each do |field|
            - unless field == 'game'
              %th= t("#{field}")
      %tbody
        = render partial: "game_statistic", locals: {team: @game.away_team, game: @game}

= render "inc/leyenda"