%td{colspan: 7}
  = form_for @statistic, url: @statistic.new_record? ? admin_statistics_path : statistic_path(@statistic), remote: true, html: {class: "form-horizontal"} do |f|
    .form-group
      .col-md-3.control-label= f.label "Player"
      .col-md-5= @statistic.player
    .form-group
      .col-md-3.control-label= f.label "Position"
      .col-md-5= @statistic.player.position.text
    .form-group
      .col-md-3.control-label= f.label "Team"
      .col-md-5= @statistic.player.team
    .form-group
      .col-md-3.control-label= f.label "Season"
      .col-md-5= f.text_field :season, class: 'string form-control'
    .form-group
      .col-md-3.control-label= f.label "Statistics"
      .col-md-9
        = render partial: "statistics_player", locals: {statistic: @statistic}
    .form-group
      .col-md-3
      .col-md-5
        = f.submit "Save", class: "btn btn-primary"
        %button.btn.btn-link.cancel Cancel