%tr
  %td= player_image player
  %td= link_to player.name, player_path(player)
  %td= link_to player.team.name, team_path(player.team)
  %td.sm= statistic["week_"+round]["sm"]
  %td= statistic["week_"+round]["pt"]
  %td= statistic["week_"+round]["reb"]
  %td= statistic["week_"+round]["a"]
  %td= statistic["week_"+round]["t3"]