%tr
  %td= player_image player
  %td= link_to player.name, player_path(player)
  %td= link_to player.team.name, team_path(player.team)
  %td{:class => ("selected" if field == "sm")}= statistic["week_"+round]["sm"]
  %td{:class => ("selected" if field == "pt")}= statistic["week_"+round]["pt"]
  %td{:class => ("selected" if field == "reb")}= statistic["week_"+round]["reb"]
  %td{:class => ("selected" if field == "a")}= statistic["week_"+round]["a"]
  %td{:class => ("selected" if field == "t3")}= statistic["week_"+round]["t3"]