%tr{:class => player.position}
  %td
    = player_image player
    = team_image player.team  
  %td= link_to player.name, player_path(player)
  %td= player_price player.current_price
  %td= player.promedio_stat "sm"
  %td= player.sube_15
  %td= player.se_mantiene
  %td= player.baja_15
