%tr{:class => [player.position, player.try(:team).try(:rest_round_1) == CURRENT_ROUND || player.try(:team).try(:rest_round_2) == CURRENT_ROUND ? "descansa" : ""]}
  %td
    = player_image_22 player
    = team_image_22 player.team  
  %td= link_to player.name, player_path(player)
  %td= player_price(player.current_price)
  %td{:class => ("important" if field == "sm")}= statistic["week_"+round]["sm"].blank? ? "0" : statistic["week_"+round]["sm"]
  %td{:class => ("important" if field == "v")}= statistic["week_"+round]["v"].blank? ? "0" : statistic["week_"+round]["v"]
  %td{:class => ("important" if field == "pt")}= statistic["week_"+round]["pt"].blank? ? "0" : statistic["week_"+round]["pt"]
  %td{:class => ("important" if field == "reb")}= statistic["week_"+round]["reb"].blank? ? "0" : statistic["week_"+round]["reb"]
  %td{:class => ("important" if field == "a")}= statistic["week_"+round]["a"].blank? ? "0" : statistic["week_"+round]["a"]
  %td{:class => ("important" if field == "t3")}= statistic["week_"+round]["t3"].blank? ? "0" : statistic["week_"+round]["t3"]