%tr
  %td
    = player_image player
    = link_to player.name, player_path(player)
  %td
    = team_image player.team
    = link_to player.team.name, team_path(player.team)
  %td= player.position.try(:text)