%tr{:class => [player.position, player.try(:team).try(:rest_round_1) == CURRENT_ROUND || player.try(:team).try(:rest_round_2) == CURRENT_ROUND ? "descansa" : ""]}
  %td
    = player_image_22 player
    = team_image_22 player.team  
  %td
    = link_to player.name, player_path(player)
  %td
    = player_price player.current_price
  %td
    = player.played_games
  %td.important
    %b=sum.sum.round(2)
  %td
    = player.promedio_stat @field