%h3= t('.title')
%ul.nav.nav-tabs{:role => "tablist"}
  - @positions.each do |position|
    %li{:class => ("active" if position == @position)}
      = link_to t(position).pluralize.humanize, {:controller => "players", :action => "historico", :field => @field, :position => position, :num_rounds => @num_rounds}

.tab-content
  - @positions.each do |position|
    .tab-pane{:id => "tabs-#{position}", :class => ("active" if position == @position)}
      - if position == @position
        .table-responsive
          %table.table.table-striped.statistic
            %thead
              %tr
                %th
                %th
                  = link_to "v", {:controller => "players", :action => "historico", :field => "v", :position => position, :num_rounds => @num_rounds}, class: 'btn btn-info'
                  = link_to "pt", {:controller => "players", :action => "historico", :field => "pt", :position => position, :num_rounds => @num_rounds}, class: 'btn btn-info'
                  = link_to "reb", {:controller => "players", :action => "historico", :field => "reb", :position => position, :num_rounds => @num_rounds}, class: 'btn btn-info'
                  = link_to "a", {:controller => "players", :action => "historico", :field => "a", :position => position, :num_rounds => @num_rounds}, class: 'btn btn-info'
                %th
                %th{:colspan => "#{@num_rounds}"}
                  = t('ultimas_jornadas')
                  = link_to "2", {:controller => "players", :action => "historico", :field => @field, :position => position, :num_rounds => 2}, class: 'btn btn-info'
                  = link_to "3", {:controller => "players", :action => "historico", :field => @field, :position => position, :num_rounds => 3}, class: 'btn btn-info'
                  = link_to "4", {:controller => "players", :action => "historico", :field => @field, :position => position, :num_rounds => 4}, class: 'btn btn-info'
                  = link_to "5", {:controller => "players", :action => "historico", :field => @field, :position => position, :num_rounds => 5}, class: 'btn btn-info'

              %tr
                %th
                %th= t('player')
                %th= t('price')
                - (@round.to_i-@num_rounds+1..@round.to_i).each do |round|
                  %th= round

            %tbody
              - @trending_players.each do |player|
                = render partial: "home/trending_player", locals: {player: @indexed_players[player[:player_id]], round: @round, statistic: player[:statistic], sum: player[:sum] }
