%h3= t('.trending_players')
%ul.nav.nav-tabs{:role => "tablist"}
  - @positions.each do |position|
    %li{:class => ("active" if position == @position)}
      //%a{"data-toggle" => "tab", :href => "#tabs-"+position.to_s}= t(position).pluralize.humanize
      = link_to t(position).pluralize.humanize, {:controller => "players", :action => "historico", :field => @field, :position => position, :num_rounds => @round}

.tab-content
  - @positions.each do |position|
    .tab-pane{:id => "tabs-#{position}", :class => ("active" if position == @position)}
      - if position == @position
        .table-responsive
          %table.table.table-striped.table-condensed.statistic
            %thead
              %tr
                %th
                %th
                  = link_to "v", {:controller => "players", :action => "historico", :field => "v", :position => position, :num_rounds => @round}, class: 'btn btn-info'
                  = link_to "pt", {:controller => "players", :action => "historico", :field => "pt", :position => position, :num_rounds => @round}, class: 'btn btn-info'
                  = link_to "reb", {:controller => "players", :action => "historico", :field => "reb", :position => position, :num_rounds => @round}, class: 'btn btn-info'
                  = link_to "a", {:controller => "players", :action => "historico", :field => "a", :position => position, :num_rounds => @round}, class: 'btn btn-info'
                %th{:colspan =>  "#{@num_rounds}"}
                  = t('rounds')
                  - (1..CURRENT_ROUND.to_i-1).each do |round|
                    = link_to t(round.to_s), {:controller => "players", :action => "historico", :field => @field, :position => position, :num_rounds => round}, class: 'btn btn-info'

              %tr
                %th
                %th= t('player')
                - (@round.to_i-@num_rounds+1..@round.to_i).each do |round|
                  %th= round

            %tbody
              - @trending_players.each do |player|
                = render partial: "home/trending_player", locals: {player: @indexed_players[player[:player_id]], round: @round, statistic: player[:statistic], sum: player[:sum] }
