.row
  .col-xs-12.detail
    .col-xs-2
      = player_image @player
    .col-xs-8
      .col-xs-1
        .number= "##{@player.number}"
      .col-xs-11
        %h1= "#{@player.name}" 
        = "#{@player.position.text} | #{@player.team}"
      .col-xs-12
        .col-xs-6.col-md-2.box
          .label= t("valoracion")
          %br
          .value= @player.promedio_stat "v"
        .col-xs-6.col-md-2.box
          .label= t("puntos")
          %br
          .value= @player.promedio_stat "pt"
        .col-xs-6.col-md-3.box
          .label= t("rebotes")
          %br
          .value= @player.promedio_stat "reb"
        .col-xs-6.col-md-2.box
          .label= t("asistencias")
          %br
          .value= @player.promedio_stat "a"
        .col-xs-6.col-md-2.box 
          .label= t("triples")
          %br
          .value= @player.promedio_stat "t3"
    .col-xs-2
      = @player.date_of_birth
    
              
  .col-xs-12
    = render partial: "statistics/statistics_player", locals: {statistic: @player.statistics.last}

  .col-xs-12
    = line_chart @broker_data, @options
    = line_chart @stats_data, @options
