.row
  .col-xs-12
    %h1= @player.name
    
  .col-xs-12
    .table-responsive
      %table.table.table-striped.table-condensed.detail
        %tbody
          %tr
            %td.col-xs-2.center.black.round.player_image{rowspan: 5}
              = player_image @player
          %tr
            %th= "Position"
            %td= @player.position.text if @player.position
          %tr
            %th= "Height"
            %td= @player.height
          %tr
            %th= "Date of Birth"
            %td= @player.date_of_birth.to_s(:short_date) if @player.date_of_birth
          %tr 
            %th= "Place of Birth"
            %td= @player.place_of_birth
  .col-xs-12
    .table-responsive
      %table.table.table-striped.table-condensed.detail
        %tbody
          %tr
            %td
              
  .col-xs-12
    = render partial: "statistics/statistics_player", locals: {statistic: @player.statistics.last}

  .col-xs-12
    = line_chart @broker_data, @options
    = line_chart @stats_data, @options
