.row
  .col-xs-12.detail
    .col-xs-2
      = player_image @player
    .col-xs-10
      %h1= @player.name
      ="#{@player.position.text} | #{@player.team}"
    .col-xs-6.col-md-2
      = t("valoracion")
      %br
      = @player.promedio_stat "v"
    .col-xs-6.col-md-2
      = t("puntos")
      %br
      = @player.promedio_stat "pt"
    .col-xs-6.col-md-2
      = t("rebotes")
      %br
      = @player.promedio_stat "reb"
    .col-xs-6.col-md-2
      = t("asistencias")
      %br
      = @player.promedio_stat "a"
    .col-xs-6.col-md-2 
      = t("triples")
      %br
      = @player.promedio_stat "t3"
              
  .col-xs-12
    = render partial: "statistics/statistics_player", locals: {statistic: @player.statistics.last}

  .col-xs-12
    = line_chart @broker_data, @options
    = line_chart @stats_data, @options
