%td{colspan: 6}
  = form_for @setting, url: @setting.new_record? ? admin_settings_path : admin_setting_path(@setting), remote: true, html: {class: "form-horizontal"} do |f|
    .form-group
      .col-md-3.control-label= f.label "Name"
      .col-md-5= f.text_field :name, class: 'string form-control'
    .form-group
      .col-md-3.control-label= f.label "Key"
      .col-md-5= f.text_field :key, class: 'string form-control'
    .form-group
      .col-md-3.control-label= f.label "Value"
      .col-md-5= f.text_field :value, class: 'string form-control'

    .form-group
      .col-md-3
      .col-md-5
        = f.submit "Save", class: "btn btn-primary"
        %button.btn.btn-link.cancel Cancel