<!DOCTYPE html>
<html>
  <head>
    <title>Acbmanager</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => "reload" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="back" id="<%= params[:controller].parameterize %>_controller" data-current-section="<%= @current_section %>">
    Back End
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render partial: "admin/navbar" %>

    <div class="container">
      <div class="login-container">
        <div class="form-box">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
