<!DOCTYPE html>
<html>
  <head>
    <title>Estadísticas ACB</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
    <%= display_meta_tags %>
    <%= render partial: "front/google_analytics" %>
  </head>
  <body class="front" id="<%= params[:controller].parameterize %>_controller" data-current-section="<%= @current_section %>">
    <div class="container">
      <div class="row">
        <%= render partial: "front/navbar" %>
      </div>
      <!-- Page Content -->
      <div class="row content">
        <div class="col-md-9">
          <%= yield %>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12" id="calendario_home">
              <%= render partial: 'games/round', locals: {round: CURRENT_ROUND.to_i-1, games: @round_games} if @round_games and @round_games.any? %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
