<!DOCTYPE html>
<html>
  <head>
    <title>Estadísticas ACB</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
    <%= display_meta_tags %>
    <%= render partial: "front/google_analytics" %>
  </head>
  <body class="front" id="<%= params[:controller].parameterize %>_controller" data-current-section="<%= @current_section %>">
    <div class="container">
      <div class="row">
        <%= render partial: "front/navbar" %>
      </div>
      <!-- Page Content -->
      <div class="row content">
        <div class="col-md-9">
          <%= yield %>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12" id="calendario_home">
              <%= render partial: 'games/round', locals: {round: CURRENT_ROUND.to_i-1, games: @round_games} if @round_games and @round_games.any? %>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" id="table_home">
              <%= render partial: 'teams/table', locals: {teams: @teams} if @teams and @teams.any? %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
<div class="container">
  <div class="row content">    
    <div class="col-xs-6 col-sm-6 col-md-3 column">          
        <h4>Information</h4>
        <ul class="nav">
          <li><a href="about-us.html">About Us</a></li>
          <li><a href="about-us.html">Delivery Information</a></li>
          <li><a href="about-us.html">Privacy Policy</a></li>
          <li><a href="elements.html">Elements</a></li>
        </ul> 
      </div>
    <div class="col-xs-6 col-md-3 column">          
        <h4>Follow Us</h4>
        <ul class="nav">
          
           <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Google+</a></li>
          <li><a href="#">Pinterest</a></li>
        </ul> 
      </div>
    <div class="col-xs-6 col-md-3 column">          
        <h4>Contact Us</h4>
        <ul class="nav">
          <li><a href="#">Email</a></li>
          <li><a href="#">Headquarters</a></li>
          <li><a href="#">Management</a></li>
          <li><a href="#">Support</a></li>
        </ul> 
      </div>
    <div class="col-xs-6 col-md-3 column">          
        <h4>Customer Service</h4>
        <ul class="nav">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul> 
      </div>
      
    
  </div>
</div>
</footer>
  </body>
</html>
